@keyframes nav-anim {
    0% {
        background-position: 0% 
    }

    50% {
        background-position: 100% 
    }

    100% {
        background-position: 0% 
    }
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0; padding: 0;
    scrollbar-color: #782ac3;
    scrollbar-base-color: #782ac3;
    scroll-behavior: smooth;
    scrollbar-arrow-color: #7b5680;
}

body::-webkit-scrollbar-track {
    background: #7b5680;
}

.container {
    width: 100vw;
    height: max-content;
    overflow: visible;
    background-color: white; 
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    width: 100%;
    height: 55px;
    /* border: 1px solid #ccc; */
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8),
                0px -2px 2px rgba(0, 0, 0, 0.12),
                0px -4px 4px rgba(0, 0, 0, 0.16),
                0px -8px 8px rgba(0, 0, 0, 0.20);
    animation-name: nav-anim;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background: linear-gradient(270deg, rgb(1, 102, 43), rgba(104, 2, 126, 1), rgb(31, 12, 31), rgb(5, 41, 141));
    background-size: 800% 100%;

    @media(max-width: 900px) {

    }
}

.nav-btn {
    color: rgb(255, 255, 255);
    width: 170px;
    --background: none;
    --box-shadow: none;
}

.nav-btn p {
    @media(max-width: 900px) {
        display: none;
    }
}

.btn-icon {
    font-size: 24px;
    color: white;
    padding: 5px;
}

.btn-center-icon {
    font-size: 36px;
    padding-right: 5px;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: max-content;
    overflow: visible;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    /* border: 1px solid #ccc */;
    vertical-align: middle;
   /*  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26); */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 2px 2px rgba(0, 0, 0, 0.12),
                0px 6px 8px rgba(0, 0, 0, 0.12),
                0px 8px 16px rgba(0, 0, 0, 0.12);
    align-items: center;
}

.header h1 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    color: #782a8c;
}

//Botão de pesquisa

.divBusca{
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: #ede0ee;
    border: solid 2px#782a8c;
    border-radius: 10px;
    width: 50%;
    height: 42px;

    @media(max-width: 600px) {
        width: 70%;
    }
}

.imgBusca{
    margin: 5px;
    float: left;
    height: 20px;
    width: 20px;
    color: #000000;
}

.txtBusca{
    --highlight-color-focused: none;
    color: #000000;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 40px;
    width: 90%;

    @media(max-width: 1300px) {
        width: 80%;
    }
}

.btnBusca{
    border: none;
    height: 40px;
    border-radius: 0 7px 7px 0;
    width: 10%;
    font-weight: bold;
    background: #782a8c;
    color: white;

    @media(max-width: 1300px) {
        width: 20%;
    }

    @media(max-width: 600px) {
        width: 30%;
    }
}
.btnBusca:hover{
    background-color: #7b5680;
}

.info-box {
    width: 100%;
    height: max-content;
    /* border: 1px solid red; */
    margin-top: 12px;
}

ul.info-carrousel {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    height: 300px;

    @media(max-width: 1300px) {
        flex-wrap: wrap;
        poistion: relative;
        display: block;
        margin: auto;
    }
}

ul.info-carrousel li {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 12px;
    max-width: 80%;
    /* border: 1px solid green; */

    @media (max-width: 1300px) {
        margin: 0;
        max-width: 100%;
        width: 100%;
        position: absolute;
    }
}

ul.info-carrousel li input {
    display: none;
}

@media(max-width: 1300px) {
    ul.info-carrousel li label {
        position: absolute;
        border: 1px solid #ccc;
        cursor: pointer;
        height: 10px;
        width: 10px;
        z-index: 20;
        bottom: 10px;
        border-radius: 24px;
    }

    .info-carrousel li:nth-child(1) label {
        bottom: -8%;
        left: 42%;
    }

    .info-carrousel li:nth-child(2) label {
        bottom: -8%;
        left: 47%;
    }

    .info-carrousel li:nth-child(3) label {
        bottom: -8%;
        left: 52%;
    }

    .info-carrousel li:nth-child(4) label {
        bottom: -8%;
        left: 57%;
    }

    .info-carrousel li input:checked ~ label {
        border: none;
        background-color: #782a8c;
    }

    .info-carrousel li input:checked ~ div.info {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }
}

.info {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 100%;
    height: 250px;
    text-align: center;
    border-radius: 12px;
    /* box-shadow: 2px 1px 3px 1px #11111170 */

    @media (max-width: 1300px) {
        width: 80%;
        opacity: 0;
        visibility: hidden;
        transition: 1s;
    }

    @media(max-width: 600px) {
        height: 200px;
    }
}

.info p {
    width: 50%;
    color: #000000;
    text-align: center; 
    margin: 9px;

    @media(max-width: 600px) {
        font-size: 13px;
    }
}

// imagem home, dentro dos quadrados.
 .imgInfo{
    width: 50%;
} 

.imgInfo img {
    width: 100%;
    @media(max-width: 1300px) {
        height: 250px;
        width: 250px;
    }

    @media(max-width: 600px) {
        height: 100%;
        width: 100%;
    }
}
h2{
    color: #000000;
    text-align: right;
}
.tools {
    text-align: center;
   

    @media(max-width: 1300px) {
        width: 80%;
    }
}
.box1 p{
      height: 40px;
      color: white;
      text-align: left;
      margin-top: 35px;
      margin-bottom: 10px;
      background: #782a8c;
      font-size: 20px;
      border-radius: 2px;
}
.box2 p{
    height: 40px;
    color: white;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 10px;
    background: #782a8c;
    font-size: 20px;
    border-radius: 2px;
   
}
.box3 p{
    height: 40px;
    color: white;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 10px;
    background: #782a8c;
    font-size: 20px;
    border-radius: 2px;
}
.box4 p{
    height: 40px;
    color: white;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 10px;
    background: #782a8c;
    font-size: 20px;
    border-radius: 2px;   
}
.box4{
    margin-bottom: 100px;
}
